body {
    font-family: 'Titillium Web', sans-serif;
    width: 100%;
    height: 100%;
}

.otstup {
    margin: 0;
    padding: 0;
}

body .header {
    background-color: #87509C;
    /*background-color: thistle;*/
    height: 560px;
}

body .header .wrapper-header {
    padding-top: 35px;
    width: 88%;;
    height: 300px;
    margin: 0 auto;
}

body .header .wrapper-header .logo {
    display: inline-block;
    margin-left: 8.3%;
}

body .header .wrapper-header .logo img {
    width: 159px;
    height: 70px;
}

body .header .wrapper-header .list {
    float: right;
    margin-top: 25px;
    margin-right: 7.2%;
}

body .header .wrapper-header .list ul li {
    display: inline;
    margin-left: 3px;
    padding: 4px 16px 3px 16px;
    text-transform: uppercase;
}

body .header .wrapper-header .list ul li:hover {
    background-color: #643A79;
    border-radius: 3px;
}

body .header .wrapper-header .list ul li a {
    text-decoration: none;
    color: white;
}

body .header .wrapper-header .list ul li a:hover {
    color: #0AF5CC;
}

a.button {
    font-weight: 600;
    font-size: 17px;
    color: white;
    text-decoration: none;
    padding: 24px 72px 14px 82px;
    border-radius: 3px;
    background: rgb(235, 125, 75);
    box-shadow: 0 -3px rgb(200, 106, 64) inset;
    transition: 0.2s;
    margin-left: 38.5%;
}

a.button:hover {
    background: rgb(235, 146, 86);
}

a.button:active {
    background: rgb(200, 106, 64);
    box-shadow: 0 3px rgb(200, 106, 64) inset;
}

body .header .wrapper-header h2 {
    text-align: center;
    font-size: 38px;
    color: white;
    line-height: 123%;
    letter-spacing: 0.8px;
    width: 78%;
    margin: 104px 0 74px 10.95%;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * BLOCK aquamarine* * * * * * * * */

.main .block-aquamarine {
    background-color: #17C2A4;
    padding-top: 1px;
    height: 699px;
}

.main .block-aquamarine .wrapper-aquamarine {
    width: 1150px;
    margin: 0 auto;
    padding-top: 70px;
    color: white;
}

.text-in-aquamarine {
    margin-left: 104px;
    margin-top: -1px;
}

.text-in-aquamarine h2{
    margin: 26px 0 0 248px;
}

.h2 {
    display: inline-block;
    font-size: 36px;
    letter-spacing: 4.5px;
    text-transform: uppercase;
}

.images-with-text-in-aquamarine.clearfix {
    height: 455px !important;
    margin-left: 87px;
}

.line {
    width: 81px;
    height: 3px;
    border: none;
}

.line1 {
    margin-left: 430px;
    background: #14A58C;
}

.text-in-aquamarine p {
    font-size: 16px;
    display: inline-block;
    text-align: center;
    padding-left: 190px;
    margin-top: 8px;
    letter-spacing: 0.76px;
}

.clearfix {
    display: table;
    content: "";
    clear: both;
}

.size-img {
    width: 220px;
    height: 390px;
}

.servises {
    padding: 0 0 0 102px;
    margin-top: 36px;
}

.img-flag {
    background: url(img/spline-1.png);
    background-position: 0 -10px;
    width: 167px;
    height: 160px;
    padding-right: 98px;
}

.img-pencil {
    background: url(img/spline-1.png);
    background-position: 0px -347px;
    width: 170px;
    height: 142px;
    padding-right: 65px;
}

.img-cogwheel {
    background-image: url(img/spline-1.png);
    background-position: 0px 280px;
    width: 170px;
    height: 142px;
    padding-right: 81px;
}

.img-rocket {
    background: url(img/spline-1.png);
    background-position: 27px -169px;
    width: 154px;
    height: 142px;
}

.servis-text {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.9px;
}

.in-servis-text1 {
    display: inline-block;
    margin-top: 19px;
    margin-bottom: 5px;
}

.in-servis-text1 td {
    padding-left: 121px;
}

.in-servis-text1 td:nth-child(2) {
    padding-left: 164px;
}

.in-servis-text1 td:nth-child(3) {
    padding-left: 141px;
}

.in-servis-text1 td:nth-child(4) {
    padding-left: 91px;
}

.servis-text-list {
    padding-left: 86px;
}

.servis-text-list ul li {
    display: inline-block;
    list-style-type: none;
    width: 192px;
    text-align: center;
    margin-right: 67px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * BLOCK aquamarine* * * * * * * * */
.main .block-lightblue {
    background-color: #E7F1F8;
    height: 913px;
    padding-top: 1px; /* W h y ???? */
}

.main .block-lightblue .wrapper-lightblue {
    width: 1160px;
    margin: 0 auto;
    margin-top: 66px;
    color: #3c4761;
}

.main .block-lightblue .wrapper-lightblue .text-in-lightblue {
    margin-left: 323px;
}

.main .block-lightblue .wrapper-lightblue .text-in-lightblue h2{
    margin-bottom:0;
}

.line2{
    background:#C8D9E5;
}

.main .block-lightblue .wrapper-lightblue p {
    padding-left: 290px;
    font-size: 17px;
}

.table-in-lightblue {
    padding-left: 88px;
    margin-top: 68px;
}

.circle {
    border-radius: 50%;
    overflow: hidden;
}

.width-in-td {
    width:67px;
}

























/* html cod

<div class="block-lightblue">
        <div class="wrapper-lightblue">
            <div class="text-in-lightblue">
                <h2>MEET OUR BEAUTIFUL TEAM</h2>
                <hr class="line line2">
                <p>We are a small team of designers and developers, who help brands with big ideas.</p>
            </div>

            <div class="beautiful-team clearfix">


                <div class="anne-section">
                    <div class="anne-photo">
                        <img src="img/anne.png" alt="anne"/>
                    </div>
                    <div class="anne-text">
                        <h3>ANNE HATHAWAY</h3>
                        <h4>CEO / Marketing Guru</h4>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed sem quis venenatis
                            euismod tincidunt ut laoreet dolore magna.</p>
                    </div>

                    <div class="anne-social">
                        <ul>
                            <li class="anne-fb"><a href="#"></a></li>
                            <!--
                                                        -->
                            <li class="anne-tw"><a href="#"></a></li>
                            <!--
                                                        -->
                            <li class="anne-in"><a href="#"></a></li>
                            <!--
                                                        -->
                            <li class="anne-sms"><a href="#"></a></li>
                        </ul>
                    </div>
                </div>


                <div class="kate-section">
                    <div class="kate-photo">
                        <img src="img/morena.png" alt="morena"/>
                    </div>
                    <div class="kate-text">
                        <h3>KATE UPTON</h3>
                        <h4>Creative Director</h4>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed sem quis venenatis
                            euismod tincidunt ut laoreet dolore magna.</p>
                    </div>
                    <div class="kate-social">
                        <ul>
                            <li class="kate-tw"><a href="#"></a></li>
                            <!--
                                                        -->
                            <li class="kate-in"><a href="#"></a></li>
                            <!--
                                                        -->
                            <li class="kate-sms"><a href="#"></a></li>
                        </ul>
                    </div>
                </div>


                <div class="olivia-section">
                    <div class="olivia-photo">
                        <img src="img/olivia.png" alt="olivia"/>
                    </div>
                    <div class="olivia-text">
                        <h3>OLIVIA WILDE</h3>
                        <h4>Lead Designer</h4>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed sem quis venenatis
                            euismod tincidunt ut laoreet dolore magna.</p>
                    </div>
                    <div class="olivia-social">
                        <ul>
                            <li class="olivia-fb"><a href="#"></a></li>
                            <!--
                                                        -->
                            <li class="olivia-tw"><a href="#"></a></li>
                            <!--
                                                        -->
                            <li class="olivia-in"><a href="#"></a></li>
                            <!--
                                                        -->
                            <li class="olivia-sms"><a href="#"></a></li>
                        </ul>
                    </div>
                </div>


                <div class="ashley-section">
                    <div class="ashley-photo">
                        <img src="img/aashley.png" alt="ashley"/>
                    </div>
                    <div class="ashley-text">
                        <h3>ASHLEY GREENE</h3>
                        <h4>SEO / Developer</h4>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed sem quis venenatis
                            euismod tincidunt ut laoreet dolore magna.</p>
                    </div>
                    <div class="ashley-social">
                        <ul>
                            <li class="ashley-fb"><a href="#"></a></li>
                            <!--
                                                        -->
                            <li class="ashley-tw"><a href="#"></a></li>
                            <!--
                                                        -->
                            <li class="ashley-sms"><a href="#"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->

    <div class="block-white">
        <div class="wrapper-white">
            <div class="text-in-white">
                <h2 class="title title3">WE GOT SKILLS!</h2>
                <hr class="line line3">
                <p class="text3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt
                    ut labore et dolore magna aliqua.</p>
            </div>

            <div class="diagram">
                <div class="dia">
                    <span class="blue-diagram">90%</span>
                    <svg width="200" height="200">
                        <circle class="pie1" cx="100" cy="100" r="73"/>
                        <circle class="pie2" cx="100" cy="100" r="73"/>
                    </svg>
                </div>
                <p>WEB DESIGN</p>
            </div>


        </div>

    </div>




*/


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * BLOCK lightblue OLD* * * * * * * * */

