body{
    font-family: 'Titillium Web', sans-serif;
    width:100%;
    height: 100%;
}

.otstup{
    margin:0;
    padding:0;
}

body .header {
    background-color: #87509C;
    /*background-color: thistle;*/
    height: 560px;
}
body .header .wrapper-header{
    padding-top: 35px;
    width: 88%;;
    height: 300px;
    margin: 0 auto;
}
body .header .wrapper-header .logo {
    display: inline-block;
    margin-left: 8.3%;
}

body .header .wrapper-header .logo img {
    width: 159px;
    height: 70px;
}

body .header .wrapper-header .list {
    float:right;
    margin-top: 25px;
    margin-right: 7.2%;
}

body .header .wrapper-header .list ul li{
    display: inline;
    margin-left: 3px;
    padding: 4px 16px 3px 16px;
}

body .header .wrapper-header .list ul li:hover {
    background-color: #643A79;
    border-radius: 3px;
}

body .header .wrapper-header .list ul li a{
    text-decoration: none;
    color:white;}

body .header .wrapper-header .list ul li a:hover {
    color: #0AF5CC;
}

a.button {
    font-weight: 600;
    font-size: 17px;
    color: white;
    text-decoration: none;
    padding: 24px 72px 14px 82px;
    border-radius: 3px;
    background: rgb(235, 125, 75);
    box-shadow: 0 -3px rgb(200, 106, 64) inset;
    transition: 0.2s;
    margin-left: 38.5%;
}
a.button:hover { background: rgb(235, 146, 86); }
a.button:active {
    background: rgb(200, 106, 64);
    box-shadow: 0 3px rgb(200, 106, 64) inset;
}

body .header .wrapper-header h2 {
    text-align: center;
    font-size: 38px;
    color: white;
    line-height: 123%;
    letter-spacing: 0.8px;
    width: 78%;
    margin: 104px 0 74px 10.95%;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * BLOCK aquamarine* * * * * * * * */
.servises{
    padding: 0 0 0 102px;
    margin-top: 36px;
}

.img-flag {
    background: url(img/spline-1.png);
    background-position: 0 -10px;
    width: 167px;
    height:160px;
    padding-right: 98px;
}

.img-pencil{
    background: url(img/spline-1.png);
    background-position: 0px -347px;
    width: 170px;
    height:142px;
    padding-right: 65px;
}

.img-cogwheel{
    background-image: url(img/spline-1.png);
    background-position: 0px 280px;
    width: 170px;
    height:142px;
    padding-right: 81px;
}
.img-rocket {
    background: url(img/spline-1.png);
    background-position: 27px -169px;
    width: 154px;
    height:142px;
}

.servis-text {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.9px;
}

.in-servis-text1 {
    display: inline-block;
    margin-top: 19px;
    margin-bottom: 5px;
}

.in-servis-text1 td {
    padding-left: 121px;
}

.in-servis-text1 td:nth-child(2) {
    padding-left: 164px;
}

.in-servis-text1 td:nth-child(3) {
    padding-left: 141px;
}

.in-servis-text1 td:nth-child(4) {
    padding-left: 91px;
}

.servis-text-list {
    padding-left: 86px;
}

.servis-text-list ul li {
    display: inline-block;
    list-style-type: none;
    width: 192px;
    text-align: center;
    margin-right: 67px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * BLOCK aquamarine* * * * * * * * */
























/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * BLOCK lightblue* * * * * * * * */
.main .block-lightblue {
    background-color: #E7F1F8;
    height: 913px;
    padding-top: 1px;                     /* W h y ???? */
}
.main .block-lightblue .wrapper-lightblue {
    width: 1160px;
    margin: 0 auto;
    margin-top: 102px;
}

.main .block-lightblue .wrapper-lightblue .text-in-lightblue{
    width: 754px;
    margin: 0 auto;
}

.main .block-lightblue .wrapper-lightblue .text-in-lightblue h2 {
    font-size: 40px;
    margin-left: 128px;
    letter-spacing: 4px;
    margin-bottom: -1px;
    color: #3C4761;
}
.line2{
    margin-left: 380px;
    background: #C8D9E5;
}
.main .block-lightblue .wrapper-lightblue .text-in-lightblue p{
    font-size: 18px;
    margin-left: 103px;
    letter-spacing: 0.3px;
    color: #3C4761;
}
.beautiful-team {
    width: 100%;
    padding-top: 58px;
    padding-left:93px;
}

/* * * * * * * * * * * * OБЩЕЕ * * * * * * * */
.anne-section {
    padding-left: 11px;
}

.anne-section , .kate-section , .olivia-section {
    float: left;
    display: inline-block;
    width: 222px;
    height: 500px;

}
.anne-section .anne-photo , .kate-section .kate-photo , .olivia-section .olivia-photo , .ashley-section .ashley-photo{
    width: 202px;
    height: 202px;
}
.anne-section .anne-photo img , .kate-section .kate-photo img , .olivia-section .olivia-photo img , .ashley-section .ashley-photo img{
    border-radius: 50%;
    overflow: hidden;
}

.anne-text h3 , .kate-text h3 , .olivia-text h3 , .ashley-text h3{
    font-size: 25px;
    color: #3C4761;
}
.anne-text h4 , .kate-text h4 , .olivia-text h4 , .ashley-text h4{
    color: #30BAE7;
    font-weight: normal;
}

/* * * * * * * * * * * * OБЩЕЕ * * * * * * * */

/* * * * * * * * * * * * ANNE HATHAWAY * * * * * * * */
.anne-text h3 {
    padding-top: 4px;
    padding-left: 3px;
    margin-bottom: 0;
}

.anne-text h4 {
    margin-top: -1px;
    margin-left: 28px;
}
.anne-text p {
    margin-top: -3px;
    text-align: center;
    width: 200px;
}
.anne-social {
    display: inline-block;
    margin-top: 11px;
    margin-left: 19px;
}
.anne-social ul{
    margin: 0;
    padding: 0;
}
.anne-social .anne-fb , .anne-social .anne-tw , .anne-social .anne-in , .anne-social .anne-sms{
    display: inline-block;
    background-image: url(img/spline.png);
    width: 35px;
    height: 35px;
    margin-right: 8px;
}
.anne-social .anne-fb{
    background-position: -171px 100px;
}
.anne-social .anne-tw{
    background-position: -70px 100px;
}
.anne-social .anne-in{
    background-position: -120px 100px;
}
.anne-social .anne-sms{
    background-position: -15px 100px;
}
.anne-social .anne-fb:hover , .anne-social .anne-tw:hover , .anne-social .anne-in .anne-social .anne-sms:hover {
    display: inline-block;
    background-image: url(img/spline.png);
    width: 35px;
    height: 35px;
}
.anne-social .anne-fb:hover{
    background-position: -171px 50px;
}
.anne-social .anne-tw:hover{
    background-position: -69px 50px;
}
.anne-social .anne-in:hover{
    background-position: -120px 50px;
}
.anne-social .anne-sms:hover{
    background-position: -15px 50px;
}
/* * * * * * * * * * * * ANNE HATHAWAY * * * * * * * */




/* * * * * * * * * * * * KATE SECTION * * * * * * * */


.kate-section{
    margin-left: 58px;
}
.kate-text{
    margin-top: 29px;
}
.kate-text h3{
    margin-top: 1px;
    margin-bottom: 0;
    padding-left: 32px;
}
.kate-text h4{
    margin-top: 0;
    padding-left: 45px;
}

.kate-text p{
    margin-top: -3px;
    text-align: center;
    width: 205px;
    margin-left: 2px;
}
.kate-social {
    display: inline-block;
    margin-top: 11px;
    margin-left: 41px;
}
.kate-social ul {
    margin: 0;
    padding: 0;
}

.kate-social .kate-tw , .kate-social .kate-in , .kate-social .kate-sms{
    display: inline-block;
    background-image: url(img/spline.png);
    width: 35px;
    height: 35px;
}
.kate-social .kate-tw{
    background-position: -70px 100px;
}

.kate-social .kate-in {
    background-position: -120px 99px;
    margin-left: 8px;
    margin-right: 8px;
}

.kate-social .kate-sms{
    background-position: -15px 100px;
}
.kate-social .kate-tw:hover , .kate-social .kate-in .kate-social .kate-sms:hover {
    display: inline-block;
    background-image: url(img/spline.png);
    width: 35px;
    height: 35px;
}
.kate-social .kate-tw:hover{
    background-position: -69px 50px;
}
.kate-social .kate-in:hover{
    background-position: -120px 50px;
}
.kate-social .kate-sms:hover{
    background-position: -15px 50px;
}

/* * * * * * * * * * * * KATE SECTION * * * * * * * */




/* * * * * * * * * * * * OLIVIA SECTION * * * * * * * */
.olivia-section {
    margin-left: 58px;
}

.olivia-text {
    margin-top: 29px;
}
.olivia-section h3 {
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 27px;
}

.olivia-section h4{
    margin-top: 0px;
    margin-left: 53px;
    margin-bottom: 18px;
}

.olivia-section p{
    width: 205px;
    text-align: center;
    margin-left: 5px;
}

.olivia-social {
    display: inline-block;
    margin-top: 11px;
    margin-left: 19px;
}
.olivia-social ul {
    margin: 0;
    padding: 0;
}

.olivia-social .olivia-fb , .olivia-social .olivia-tw , .olivia-social .olivia-in , .olivia-social .olivia-sms{
    display: inline-block;
    background-image: url(img/spline.png);
    width: 35px;
    height: 35px;

}
.olivia-social .olivia-fb{
    background-position: -171px 99px;
    margin-right: 9px;
}
.olivia-social .olivia-tw{
    background-position: -70px 100px;
    margin-right: 8px;
}
.olivia-social .olivia-in{
    background-position: -120px 99px;
    margin-right: 8px;
}
.olivia-social .olivia-sms{
    background-position: -15px 100px;
}
.olivia-social .olivia-fb:hover , .olivia-social .olivia-tw:hover , .olivia-social .olivia-in , .olivia-social .olivia-sms:hover {
    display: inline-block;
    background-image: url(img/spline.png);
    width: 35px;
    height: 35px;
}
.olivia-social .olivia-fb:hover{
    background-position: -171px 50px;
}
.olivia-social .olivia-tw:hover{
    background-position: -69px 50px;
}
.olivia-social .olivia-in:hover{
    background-position: -120px 50px;
}
.olivia-social .olivia-sms:hover{
    background-position: -15px 50px;
}

/* * * * * * * * * * * * OLIVIA SECTION * * * * * * * */





/* * * * * * * * * * * * ASHLEY SECTION * * * * * * * */
.ashley-section {
    float: left;
    display: inline-block;
    width: 212px;
    height: 500px;
    padding-left: 58px;
}
.ashley-section .ashley-text{
    margin-top: 29px;
    margin-left: 1px;

}
.ashley-section .ashley-text h3{
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 17px;
}

.ashley-section .ashley-text h4{
    margin-top: 1px;
    margin-left: 48px;
}
.ashley-section .ashley-text p{
    width: 205px;
    text-align: center;
    margin-top: -2px;
    margin-left: 6px;
}

.ashley-social {
    display: inline-block;
    margin-left: 40px;
    margin-top: 9px;
}
.ashley-social ul {
    margin: 0;
    padding: 0;
}

.ashley-social .ashley-fb , .ashley-social .ashley-tw , .ashley-social .ashley-sms{
    display: inline-block;
    background-image: url(img/spline.png);
    width: 35px;
    height: 35px;

}
.ashley-social .ashley-fb{
    background-position: -171px 99px;
    margin-right: 9px;
}
.ashley-social .ashley-tw{
    background-position: -70px 100px;
    margin-right: 8px;
}
.ashley-social .ashley-sms{
    background-position: -15px 100px;
}
.ashley-social .ashley-fb:hover , .ashley-social .ashley-tw:hover , .ashley-social .ashley-sms:hover {
    display: inline-block;
    background-image: url(img/spline.png);
    width: 35px;
    height: 35px;
}
.ashley-social .ashley-fb:hover{
    background-position: -171px 50px;
}
.ashley-social .ashley-tw:hover{
    background-position: -69px 50px;

}
.ashley-social .ashley-sms:hover{
    background-position: -15px 50px;
}

.block-white {
    height: 654px;
    background-color: thistle;
    padding-top:1px;
}


/* * * * * * * * * * * * ASHLEY SECTION * * * * * * * */



/****************************/

.pumpkin {
    fill: yellow;
    stroke: orange;
    stroke-width: 5;
}
.title {
    display: inline-block;
    font-size: 40px;
    letter-spacing: 4px;
}
.title3 {
    margin-left: 558px;
    margin-top: 100px;
    margin-bottom: -2px;
}
.line3{
    margin-left: 678px;
    background: #DFE8ED;
}

.text3{
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    width: 618px;
    padding-left: 91px;
    letter-spacing: 0.49px;
    padding-top: 9px;
}

svg {
    position: relative;
    top: 38px;
    left: 200px;
}
.pie1 {
    position: absolute;
    fill: transparent;
    stroke: #30BAE7;
    stroke-width: 13;
}
.pie2 {
    position: absolute;
    fill: transparent;
    stroke: #DFE8ED;
    stroke-width: 13;
    stroke-dasharray: 44 500;
    transform: rotate(236deg);
    transform-origin: 50% 50%;
}

.dia {
    position: relative;
    display: inline-block;
}

.diagram {
    padding-left: 200px;
    padding-top: 61px;
}

.blue-diagram {
    position: absolute;
    left: 89px;
    top: 85px;
}

